/*
 * CSS Styling based on stylesheets included in Aqua FX (https://github.com/guigarage/aerofx) theme
 * The theme was modified and unnecessary styling has been removed.
 */

/*============= Imports =============*/
@import "lib/aqua_light.css";
@import "modules/primary.css";
@import "modules/alert.css";
@import "modules/geometry.css";
@import "modules/reinforcement.css";
@import "modules/design-parameters.css";
/*============== Fonts ==============*/
@font-face {
    src: url("../fonts/SourceSansPro-Regular.ttf");
}
/*===================================*/
/*========= General Styling =========*/
/*===================================*/
.root {
    -fx-font-family: 'Source Sans Pro Regular';
    -fx-font-size: 14px;
    -fx-background-color: #eff3fe;
}

.hidden {
    visibility: hidden;
}

.alignment-center-left {
    -fx-alignment: center-left;
}

.padding-top {
    -fx-padding: 10px 0 0 0;
}

.padding-bottom {
    -fx-padding: 0 0 10px 0;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.grid-cell {
    -fx-pref-width: 280px;
}

.element-type {
    -fx-min-width: 90px;
    -fx-cursor: hand;
}

.button {
    -fx-cursor: hand;
    -fx-min-width: 60px;
}

.heading {
    -fx-text-fill: rgb(41.0, 103.0, 243.0);
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-padding: 0 0 5px 0;
}

.subheading {
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 2px 0 1px 0;
}

.label {
    -fx-pref-height: 24px;
    -fx-content-display: center;
}

.label-small {
    -fx-font-size: 12px;
    -fx-pref-height: 16px;
}

.subscript {
    -fx-font-size: 11px;
    -fx-pref-height: 26px;
    -fx-content-display: bottom;
}

.label-small-checkbox{
    -fx-font-size: 12px;
}

.field-label {
    -fx-min-width: 120px;
}

.numerical-field {
    -fx-pref-width: 85px;
}

.numerical-field-medium {
    -fx-pref-width: 70px;
}

.numerical-field-small {
    -fx-pref-width: 60px;
}

.unit-label {
    -fx-padding: 0 0 0 5px;
}

.field-wrapper {
    -fx-spacing: 2px;
    -fx-padding: 0 0 5px 0;
}

.border-separator-bottom {
    -fx-border-color: #aeb2bd;
    -fx-border-style: solid;
    -fx-border-width: 0 0 1.5px 0;
}

.border-separator-top {
    -fx-border-color: #aeb2bd;
    -fx-border-style: solid;
    -fx-border-width: 1.5px 0 0 0;
}

.section-wrapper {
    -fx-max-width: 580px;
}

.large-button {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 5px 15px;
}

.canvas-wrapper {
    -fx-background-color: #fff;
}

.edit-buttons-wrapper {
   -fx-alignment: center-right;
   -fx-spacing: 8px;
}

.check-box {
    -fx-cursor: hand;
    -fx-pref-height: 24px;
    -fx-content-display: center;
}

.check-box .box {
    -fx-pref-height: 18px;
    -fx-pref-width: 18px;
}

.combo-box {
    -fx-pref-width: 60px;
}

.combo-box-medium {
    -fx-pref-width: 70px;
}

.combo-box-wide {
    -fx-pref-width: 80px;
}
