.slab-geometry {
    -fx-padding: 10px;
    -fx-alignment: center;
    -fx-spacing: 8px;
}

.slab-geometry-edit-buttons {
    -fx-pref-height: 375px;
    -fx-spacing: 8px;
    -fx-alignment: bottom-right;
}

.slab-image {
    -fx-background-color: #000;
}