.primary-grid {
    -fx-alignment: center;
    -fx-padding: 10px;
    -fx-hgap: 20px;
    -fx-vgap: 5px;
}

.element-type {
    -fx-min-width: 90px;
    -fx-cursor: hand;
}

.element-type-wrapper {
    -fx-padding: 7px 10px 7px 0;
}

.geometry {
    -fx-padding: 5px 0 0 0;
}

.geometry .geometry-text {
    -fx-min-height: 45px;
    -fx-alignment: top-left;
}

.reinforcement {
    -fx-padding: 5px 0 0 0;
}

.reinforcement .reinforcement-text {
    -fx-pref-height: 162px;
    -fx-alignment: top-left;
}

.design-parameters {
    -fx-padding: 10px 0 7px 0;
}

.not-defined {
    -fx-text-base-color: red;
}

.results {
    -fx-background-color: #fff;
    -fx-pref-height: 75px;
    -fx-padding: 5px 10px 5px 10px;
}

.results-message {
    -fx-min-height: 47px;
    -fx-max-height: 47px;
    -fx-padding: 5px 0 0 0;
    -fx-alignment: top-left;
}

.utilization-note-wrapper{
    -fx-spacing: 15px;
}

.project-details-field{
    -fx-pref-width: 270px;
}

.pass{
    -fx-font-weight: bold;
    -fx-text-fill: green;
}

.fail{
    -fx-font-weight: bold;
    -fx-text-fill: red;
}

.primary-button-wrapper {
    -fx-pref-height: 100px;
    -fx-alignment: bottom-right;
    -fx-padding: 10px 0 0 0;
    -fx-spacing: 10;
}
