/* ========= Slab Reinforcement ========= */
.slab-reinforcement-wrapper {
    -fx-font-size: 14px;
    -fx-padding: 10px;
    -fx-alignment: center;
}

.slab-reinforcement-layer-wrapper {
    -fx-pref-width: 500px;
}

.slab-reinforcement-vertical-spacing-column {
    -fx-padding: 16px 0 0 0;
}

.slab-reinforcement-grid {
    -fx-hgap: 10px;
}

.slab-vertical-spacing-wrapper {
    -fx-padding: 8px 0 0 0;
    -fx-spacing: 5px;
}

.slab-vertical-spacing-wrapper .text-field{
    -fx-pref-width: 45px;
}

.layers-wrapper {
    -fx-pref-height: 265px;
}

.layer {
    -fx-padding: 10px 0 0 0;
    -fx-spacing: 8px;
}

.layer-label {
    -fx-pref-width: 65px;
}

.edit-layers-button-wrapper {
    -fx-padding: 8px 0 10px 0;
    -fx-spacing: 8px;
}