.slab-reinforcement-wrapper, .beam-reinforcement-wrapper {
    -fx-font-size: 14px;
    -fx-padding: 10px;
    -fx-alignment: center;
}

.slab-top-reinforcement, .slab-bottom-reinforcement, .beam-top-reinforcement, .beam-bottom-reinforcement {
    -fx-pref-height: 320px;
}

.slab-reinforcement-layers, .beam-reinforcement-rows {
    -fx-pref-width: 700px;
}

.slab-reinforcement-vertical-spacings, .beam-reinforcement-vertical-spacings {
    -fx-padding: 16px 0 0 0;
}

.slab-reinforcement-grid, .beam-reinforcement-grid {
    -fx-hgap: 10px;
}

.slab-vertical-spacing-wrapper, .beam-vertical-spacing-wrapper {
    -fx-padding: 8px 0 0 0;
    -fx-spacing: 5px;
}

.slab-vertical-spacing-wrapper .text-field, .beam-vertical-spacing-wrapper .text-field {
    -fx-pref-width: 45px;
}

.slab-layer, .beam-row {
    -fx-padding: 10px 0 0 0;
    -fx-spacing: 8px;
}

.slab-layer-label, .beam-row-label {
    -fx-pref-width: 65px;
}

.edit-slab-layers-button-wrapper, .edit-beam-reinforcement-button-wrapper {
    -fx-padding: 8px 0 10px 0;
    -fx-spacing: 8px;
}

.beam-reinforcement-diameter-combo-box, .beam-reinforcement-bar-number-combo-box {
    -fx-max-width: 55px;
}